<ion-header class="signed-user">
    <span>Signed In Users</span>
    <span>
        <ion-button (click)="logout()" class="logout">Logout</ion-button>
    </span>
</ion-header>
<ion-content class='ion-content'>
    <ion-list class="ion-cointainer">
        <ion-card *ngFor="let user of users" class="item-cointainer">
            <li class="item-list"> Name: {{user.name}}</li>
            <li class="item-list"> Address: {{user.address}}</li>
            <li class="item-list"> Phone Number: {{user.number}}</li>
            <li class="item-list"> Bio: {{user.text}}</li>
        </ion-card>
    </ion-list>


</ion-content>