<ion-header class="signed-user">
    <span>Signed In Users</span>
    <span>
        <ion-button (click)="logout()" class="logout">Logout</ion-button>
    </span>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let user of users">
            <ion-label> Name: {{user.name}}</ion-label>
            <ion-label> Address: {{user.address}}</ion-label>
            <ion-label> Phone Number: {{user.number}}</ion-label>
            <ion-label> Bio: {{user.text}}</ion-label>
        </ion-item>
    </ion-list>


</ion-content>