<ion-content class="login-page">
  <ion-card class="form">

    <form class="register-form" *ngIf="!isSignedIn && !toogleSignInUp">
      <div class="input-card">
        <ion-input type="text" placeholder="Email" #emailSignup></ion-input>
        <ion-input type="text" placeholder="Password" #passwordSignup></ion-input>
      </div>
      <ion-button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign Up</ion-button>
      <p class="message">Already Registered? <span (click)="forLogIn()">Login</span></p>
    </form>
    <form class="login-form" *ngIf="!isSignedIn && toogleSignInUp">
      <div class="input-card">
        <ion-input type="text" placeholder="Email" #email></ion-input>
        <ion-input type="password" placeholder="Password" #password></ion-input>
      </div>
      <ion-button (click)="onSignin(email.value,password.value)">Login</ion-button>
      <p class="message">Not a Registered? <span (click)="forRegister()">Register</span></p>
    </form>

  </ion-card>
  <!-- <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home> -->
</ion-content>