.card-header{
    font-size: 17px;
    font-weight: 600;
    color:rgb(2, 59, 109);
    
}
.message{
    text-align: center;
    padding: 10px 0;
        color: rgb(2, 59, 109);
        font-size: 14px;
        font-weight: 500;
        span{
            font-weight: 600;
            text-decoration: none;
            color: #1c07db;
            cursor: pointer;
          }
        }