 .login-page{
 width: 400px;
   position: relative;
  .form{
    background:linear-gradient(#1FA2FF,#A6FFCB,yellow);
    padding: 50px 30px;
    text-align: center;
    align-self: center;
    position: fixed;
    top: 20%;
    left: 40%;
   
.input-card{
    padding:15px 0;
    color: black;
    font-size: 16px;
}
 input{
    outline: none;
    width: 100%;
    border: 0;
    padding: 40px;
    box-sizing: border-box;
    
  }
  button{
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
  }

  .message{
    margin: 10px 15px;
    color: rgb(2, 59, 109);
    font-size: 14px;
    font-weight: 600;
    span{
        text-decoration: none;
        color: #1c07db;
        cursor: pointer;
      }
  }
}
}