<ion-app>
  <ion-menu side='start' menuId='m1' contentId='main-content'>
    <ion-header>
        <ion-toolbar color='secondary'>
                <ion-title> Toolbar</ion-title>
          </ion-toolbar>
    </ion-header>
      <ion-content>
          <ion-list>
              <ion-item lines='none'>
                  <ion-label>View User</ion-label>
              </ion-item>
              <ion-item lines='none'>
                <ion-label>Profile</ion-label>
            </ion-item>
            <ion-item lines='none'>
                <ion-label>Log Out</ion-label>
            </ion-item>
          </ion-list>
      </ion-content>
</ion-menu>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
