.box{
    padding-top: 50px;
	position: relative;
	margin: auto;
	max-height: 450px;
    top: 30px;
	left: 0;
	z-index: 200;
	right: 0;
	width:450px;
	color:#666;
	border-radius: 3px;
	background: #FFF;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;

   button{
	background: #cfd8dc;
	border:0;
	color: #009688;
	padding:10px;
	font-size: 16px;
  font-weight: 300;
	width:320px;
	margin:15px auto;
	display:block;
	cursor:pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
    border-radius: 2px;
    

&:active{
    background: #009688;
    color: #263238;
}

&:hover{
	background: #009688;
    color: #FFF;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}
}
}
.group{ 
  position:relative; 
  margin-bottom: 35px; 
  margin-left: 40px;
}

.inputMaterial{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:350px;
  border:none;
  border-bottom:1px solid #757575;
}

.inputMaterial:focus{
    outline:none;
}

label{
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


.inputMaterial:focus ~ label, .inputMaterial:valid ~ label{
  top:-20px;
  font-size:14px;
  color: #009688;
}


.bar{
    position:relative;
    display:block; 
    width:350px;

    &:before, &:after{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background: #009688; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
      }
    &:before {
        left:50%;
      }
    &:after {
        right:50%; 
      }
}



.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}

.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

