.cointainer{
    padding: 20px; 
    width:100%;
.add-user{
    max-width: 75%;
   color: black;
    padding: 30px 40px;
.user-label{
        font-size: 17px;
        margin-bottom: 10px;
    }
.user-input{
        border-bottom: 2px solid rgba( #000000, 0.65);
        margin-bottom: 20px;
    }
}
}