<ion-app>
  <ion-header size-sm='4'>
    <ion-toolbar color='secondary'>
      <ion-title>
        Welcome To Our App!!!!
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form #form="ngForm" (ngSubmit)='onSubmit(form)'>
      <ion-grid>
        <ion-row>
          <ion-col size-md='4' offset='3'>
            <ion-card>
              <ion-card-header class="card-header">
                Please Register With your Email
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type='email' #emailSignup ngModel name='email' required email #emailCtrl='ngModel'>
                  </ion-input>
                </ion-item>
                <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines='none'>
                  <p class="invalidData">Please Enter Valid Email</p>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type='password' #passwordSignup ngModel name='password' required minlength='6'
                    #passwordCtrl='ngModel'></ion-input>
                </ion-item>
                <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines='none'>
                  <p class="invalidData">Your Password Must be of 6 Character</p>
                </ion-item>
                <div class='ion-margin-vertical ion-text-right'>
                  <ion-button type='submit' (click)="onSignup(emailSignup.value,passwordSignup.value)"
                    [disabled]='!form.valid'>Sign Up</ion-button>
                </div>
                <p class='message'>Already have Account?, Please Click <span (click)="forLogIn()">Here</span> for Log In
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</ion-app>